# ===========================
# Build
# ===========================
bin/
obj/

# ===========================
# Visual Studio
# ===========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===========================
# Rider
# ===========================
.idea/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Test
# ===========================
TestResults/

# ===========================
# Logs
# ===========================
Logs/
*.log

# ===========================
# Docker
# ===========================
docker-compose.bmp

# ===========================
# Publish
# ===========================
publish/

# ===========================
# Windows
# ===========================
Thumbs.db
Desktop.ini

# ===========================
# Mac
# ===========================
.DS_Store

# ===========================
# ReSharper
# ===========================
_ReSharper*/
*.DotSettings.user